# Load Data

In [4]:
from sklearn.datasets import load_iris
iris = load_iris()

# Structure the Data into a Data Frame
- Import pandas to be used as "pd."
- Print the frame
- by columns

In [9]:
import pandas as pd
X = pd.DataFrame(data = iris.data, columns = iris.feature_names)
#features are columns
#python lists start at 0, R starts at 1
print(X.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

#Create a Second Data Frame
- by rows

In [18]:
y = pd.DataFrame(data=iris.target, columns = ['irisType'])
y.head()

   irisType
0         0
1         0
2         0
3         0
4         0

# Descriptive Analysis on the Data Frame
- Creating a Frequency Table

In [14]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

# Create and structure a different type of data frame

In [19]:
y = pd.DataFrame(data=iris.target, columns = ['irisType'])
y.head()

   irisType
0         0
1         0
2         0
3         0
4         0

In [16]:
#rows are records columns are attributes
#address each column seperately (first as 0)
# : is all 
# rows, columns -> so :,0 is ALL of the rows for the first column; :,1 second; :,2 third; etc.
import pandas as pd
data=pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# Descriptive Analysis on that data frame

In [21]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

In [20]:
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64